spring:
  application:
    name: backend_app
  # DataSource Config
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hurryclear
    username: root
    password: 12345678
server:
  port: 8080

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
  global-config:
    db-config: # logic delete using "isDelete" column, why do we need this?
      logic-delete-field: isDelete # logic delete global variable
      logic-delete-value: 1 # logic delete: yes
      logic-not-delete-value: 0 # logic delete: no